<!-- <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th id="1076774112C0" style="width:197px;" class="header-shim"></th>
            <th id="1076774112C1" style="width:188px;" class="header-shim"></th>
            <th id="1076774112C2" style="width:278px;" class="header-shim"></th>
            <th id="1076774112C3" style="width:254px;" class="header-shim"></th>
        </tr>
    </thead>
    <tbody>
        <tr style="height: 53px; color: white; font-weight:bold;">
            <td class="s0">Name of the Faculty</td>
            <td class="s0">Designation</td>
            <td class="s0">Educational Qualification</td>
            <td class="s0">Department</td>
        </tr>
        <tr style="height: 67px">
            <td class="s1">Dr.Vijaya Bhaskar K</td>
            <td class="s2">Principal </td>
            <td class="s2">Ph.D, M.Phil, MBA, M.Com, B.Com, Associate ship in Insurance from III</td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Dr.H.R.Venkatesha</td>
            <td class="s2">Director</td>
            <td class="s2">Ph.D, MBA, M.Com, B.Com</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 68px">
            <td class="s2">Dr.D.M. Mahishi</td>
            <td class="s2">Director IQAC </td>
            <td class="s2">Ph.D, M.Sc, B.Sc</td>
            <td class="s1">IQAC</td>
        </tr>
        <tr style="height: 67px">
            <td class="s1">Dr.R.Jayanthi</td>
            <td class="s2">Professor</td>
            <td class="s2">Ph.D, PGDGC, SLET, M.Phil, MBA, BA</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 64px">
            <td class="s1">Dr.Sengottuvelu C</td>
            <td class="s2">Professor </td>
            <td class="s2">Ph.D, MA ( Economics). M.E, MBA, SLET, PGDLSCM, PGDMM, BE </td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Dr.Rajesh C</td>
            <td class="s2">Professor </td>
            <td class="s2">Ph.D, UGC-NET, MBA, B.Sc </td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Dr.Ravichandran </td>
            <td class="s2">Professor </td>
            <td class="s2">PhD , MBA </td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 65px">
            <td class="s1">Dr.Geevarathna</td>
            <td class="s2">Professor </td>
            <td class="s2">Ph.D, M.Phil, MS, MBA, BBM, DCA</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Dr.V P Sriram</td>
            <td class="s2">Professor</td>
            <td class="s2">Ph.D, MBA, B.Sc, DSEIM</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Dr. A. Dhanalakshmi</td>
            <td class="s2">Professor</td>
            <td class="s2">Ph.D, MBA, B.Sc, DSEIM</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Dr.Naresh Babu EM</td>
            <td class="s2">Professor</td>
            <td class="s2">Ph.D, MBA , UGC-NET, M.Sc, B.Sc</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 70px">
            <td class="s1">Dr.Kshitiz Sharma</td>
            <td class="s2">Professor</td>
            <td class="s2">Ph.D , MBA, MA, PGDM, PGDHRM, UGC-NET, MTM, DHMCT &amp; AN</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Dr.V S Chauhan</td>
            <td class="s2">Professor</td>
            <td class="s2">Ph.D, MBA, M.Phil</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Mr. Viswanathan</td>
            <td class="s2">Professor</td>
            <td class="s2">M. Phil, MBA</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Dr. B Anitha </td>
            <td class="s2">Associate Professor - Academic coordinator </td>
            <td class="s2">Ph.D , MBA, MA-Eng lit , M.COM, PGDTE,B. Com </td>
            <td class="s1">Arts &amp; Humanities</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Mr.Ravi Aditya</td>
            <td class="s2">Associate Professor</td>
            <td class="s2">PGDM, MBA, CA, B.Com</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Dr.Syed Kazim</td>
            <td class="s1">Associate Professor</td>
            <td class="s2">Ph.D, M.Phi, MBA, BBM</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 63px">
            <td class="s1">Dr. Shalini HS</td>
            <td class="s1">Associate Professor</td>
            <td class="s2">Ph.D, MBA , M.Sc , UGC-NET, K-SET, B.Sc</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 63px">
            <td class="s1">Dr. Sheela Anthony</td>
            <td class="s1">Associate Professor</td>
            <td class="s2">Ph.D, M.Phil, MBA, B.Ed</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 63px">
            <td class="s1">Dr. R K Prema Rajan </td>
            <td class="s1">Associate Professor</td>
            <td class="s2">Ph.D, MBA, B.Sc, NET/JRF</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 63px">
            <td class="s1">Dr. M V Alagesan</td>
            <td class="s1">Associate Professor</td>
            <td class="s2">Ph.D , M.Com, ICMA, B.Com</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 63px">
            <td class="s1">Dr. Ajitha </td>
            <td class="s1">Associate Professor</td>
            <td class="s2">Ph.D , Msc , MBA , BE</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 63px">
            <td class="s1">Dr. Santhosh Kumar G</td>
            <td class="s2">Associate Professor</td>
            <td class="s2">Ph.D, M.Com, MBA, UGC-NET, SLET, BBM</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 63px">
            <td class="s1">Dr. Poornima K</td>
            <td class="s2">Associate Professor</td>
            <td class="s2">Ph.D MBA , PGDFM, B.Sc,</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Mrs.Kavitha S</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2"> M.Phil, MBA, M.Com, UGC-NET, PGDHRM, B.Com</td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Mr.Lakshmi Narayana Maroli</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">M.Phil, MBA-CS, MHRM, MBE, , PGDBA, M.Com, BBM</td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 20px">
            <td class="s2">Mr.C B Gopinath</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">M.Phil, MBA, M.Com, UGC-NET-, KSET, B.Com</td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Mr.Girish R </td>
            <td class="s1">Assistant Professor </td>
            <td class="s2">M. Phil, MBA, BE (E&amp;C)</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Dr.Arul Senthil B </td>
            <td class="s1">Assistant Professor </td>
            <td class="s2">Ph.D, M.Phil, MBA, B.Sc</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 66px">
            <td class="s2">Mr.Raghavendra K</td>
            <td class="s1">Assistant Professor </td>
            <td class="s2">PGDMM, MBA-, M.Com, B.Com</td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 73px">
            <td class="s2">Mr.Joswa Stalin S</td>
            <td class="s1">Assistant Professor </td>
            <td class="s2">MBA, PGDHR, B.Ed, BBM</td>
            <td class="s1">UG Aviation Management</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Ms.Niveditha P Devadiga</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">M.Com, B.Com</td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Mr. Ashoka G</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">M.Com, BBM</td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Mrs.Geethashree K </td>
            <td class="s2">Assistant Professor </td>
            <td class="s2">M.Com, B.Com</td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Mrs. Janaki Bai </td>
            <td class="s2">Assistant Professor </td>
            <td class="s2">MBA, B.Com</td>
            <td class="s1">UG Aviation Management</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Mr. Arjun Sheka K</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">MBA, B.Tech (Aeronautical Engineering)</td>
            <td class="s1">UG Aviation Management</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Mr. Thirupathi M</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">M.Com , M.Phil , KSET, TN-SET, B.Com</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Mr. Peddi Swetha Vardhana Rao </td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">MBA (Aviation), BE- (Aeronautical Engineering)</td>
            <td class="s1">UG Aviation Management</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Mr. Sujay C </td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">M. Phil , MBA , Bcom, NET, K-SET </td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Madhumathi P Kodkol </td>
            <td class="s2">Assistant Professor</td>
            <td class="s2"> M.Com, B.Com,</td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Mrs. Madhushree M </td>
            <td class="s2">Assistant Professor </td>
            <td class="s2"> M. Com, B.Com, B.Ed</td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms.MeghaShree R </td>
            <td class="s2">Assistant Professor </td>
            <td class="s2">M.Com, B.Com, </td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms.Hemalatha M </td>
            <td class="s2">Assistant Professor </td>
            <td class="s2">MBA, M.com, UGC NET, BBA, </td>
            <td class="s1">UG Aviation Management</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Ms.Madhukala K L</td>
            <td class="s1">Assistant Professor</td>
            <td class="s2">M.Phil, M.Sc, B.Ed, B.Sc</td>
            <td class="s1">Life Sciences</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Dr. Keshavamurthy M</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2"> Ph. D M.Sc - Microbiology, B.Sc, NET, KSET</td>
            <td class="s1">Life Sciences</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Dr.Avinash K O </td>
            <td class="s2">Assistant Professor </td>
            <td class="s2">Ph.D, MSc, BSc </td>
            <td class="s1">Life Sciences</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Dr.Mary Shobha Rani I </td>
            <td class="s2">Assistant Professor </td>
            <td class="s2">PhD , Msc, Bsc </td>
            <td class="s1">Life Sciences</td>
        </tr>
        <tr style="height: 59px">
            <td class="s2">Mr.Praveen Kumar V</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">MCA , B.Sc (CS)</td>
            <td class="s1">Computer Sciences</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Mr.Krishna</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">M.Tech (IT), M.Sc (CS), B.Sc (CME)</td>
            <td class="s1">Computer Sciences</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms. Apurva </td>
            <td class="s2">Assistant Professor </td>
            <td class="s2">M.Tech, B E</td>
            <td class="s1">Computer Sciences</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Ms.Sushma S Kattimani</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">MBA (HR), M.Phil, MA- , BA, Advanced Diploma in French</td>
            <td class="s1">Arts &amp; Humanities</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1 softmerge">
                <div class="softmerge-inner" style="width:194px;left:-1px">Mrs.Achu Anna Amthew </div>
            </td>
            <td class="s2">Assistant Professor </td>
            <td class="s2"> MA (English), UGC-NET, B.A, B.Ed</td>
            <td class="s1">Arts &amp; Humanities</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Dr.Shiva Kumar G N </td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">Ph.D (Kannada), MA .BA </td>
            <td class="s1">Arts &amp; Humanities</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms. Bhargavi M S</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">MBA &amp; M.COM, BBM, </td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms. Kowsalya Rangan</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">MA (Kannada) B.A, B.Ed</td>
            <td class="s1">Arts &amp; Humanities</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms. Geethanjali N</td>
            <td class="s2">Assistant Professor</td>
            <td class="s4">M.Com, MBA</td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms. Rekha Gothe</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">M.Phil, MAF, B.Com, </td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms. K. Kalaiselvi</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">MBA, M.Sc, B.Sc</td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s1 softmerge">
                <div class="softmerge-inner" style="width:194px;left:-1px">Ms. Pooja Sundareswaran</div>
            </td>
            <td class="s2">Assistant Professor</td>
            <td class="s2"> MBA, ICWA, B.Com,</td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Mr. Krishna Reddy T</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">PGDM, BBA</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms. Dhanalakshmi N G</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2"> MA (Kannada), BA,, B.Ed</td>
            <td class="s1">Arts &amp; Humanities</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Mr Karthik Kudkuli</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2"> MBA (Aviation Management), B.com</td>
            <td class="s1">UG Aviation Management</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1 softmerge">
                <div class="softmerge-inner" style="width:194px;left:-1px">Ms. Shazia Nikath Asma</div>
            </td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">M.COM, B.COM</td>
            <td class="s3 softmerge">
                <div class="softmerge-inner" style="width:263px;left:-1px">UG Commerce &amp; Management</div>
            </td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms. Shama Sharif</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">MA (Sociology), BA</td>
            <td class="s1">Arts &amp; Humanities</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Mr. Sreeanandan</td>
            <td class="s2">Assistant Professor</td>
            <td class="s2">MBA, BBA</td>
            <td class="s1">PG Management Studies</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms. Shreya Anand</td>
            <td class="s1">Lecturer </td>
            <td class="s2">MA( Journalism), BA</td>
            <td class="s1">Arts &amp; Humanities</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Mrs. KV Srilaxmi Madhuri </td>
            <td class="s2">Lecturer </td>
            <td class="s2">M.Sc Microbiology , B.Sc <br></td>
            <td class="s1">Life Sciences</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms. Shamily G</td>
            <td class="s2">Lecturer </td>
            <td class="s2">M.A ( Hindi),BA, B.Ed</td>
            <td class="s1">Arts &amp; Humanities</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms. Priya R S </td>
            <td class="s1">Lecturer </td>
            <td class="s2"> MTTM (Tourism), B.Sc, </td>
            <td class="s1">Arts &amp; Humanities</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms. Hajeera</td>
            <td class="s1">Lecturer </td>
            <td class="s2">M. Tech, B.E, </td>
            <td class="s1">Computer Sciences</td>
        </tr>
        <tr style="height: 52px">
            <td class="s1">Ms. Shalini Shreenath</td>
            <td class="s1">Lecturer </td>
            <td class="s2">MA (Psychology), BA (Tourism), PG Diploma(PR),</td>
            <td class="s1">Arts &amp; Humanities</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Ms.Chikkalakshmamma</td>
            <td class="s2">Librarian </td>
            <td class="s2">M.LISc, BA , SET</td>
            <td class="s1">Library</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Mr. Prasannakumar D K</td>
            <td class="s2">Assistant Librarian</td>
            <td class="s2">M.Lisc, B. Lisc</td>
            <td class="s1">Library</td>
        </tr>
        <tr style="height: 52px">
            <td class="s2">Mr.Shivakumar M N</td>
            <td class="s2">Assistant Librarian </td>
            <td class="s2">M.LISc, BA </td>
            <td class="s1">Library</td>
        </tr>
        <tr style="height: 46px">
            <td class="s2">Mr. Madhava Madhusudana Y C</td>
            <td class="s2">Physical Education Director</td>
            <td class="s2">M.PEd, B. PEd, BA, PGDSM, </td>
            <td class="s1">Physical Education</td>
        </tr>
    </tbody>
</table> -->