.breadcrumb-wrapper {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 10px;
  }
  .breadcrumb-label {
    display: inline-block;
    color: var(--color-grey);
    font-size: 0.75rem;
    line-height: 125%;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  
  .breadcrumb-label.when-link {
    text-decoration: none;
  }
  
  .breadcrumb-label.when-link:hover {
    color: var(--color-black);
  }

  .delim {
      margin: 0 5px 0 2px;
      font-size: 0.8rem;
      color: var(--color-grey);
  }
  @media screen and (max-width: 479px) {
  .breadcrumb-wrapper {
    display: flex;
    flex-direction: row;
    flex: 0 auto;
  }
  .breadcrumb-label {
    font-size: 1.1rem;
    line-height: 150%;
  }
  .delim {
    margin: 0 5px;
  }
}