.footer {
    padding: 50px 40px;
    background-color: #dbdbdb;
  }
  
  .footer_row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
  }
  
  .footer_row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-links-col:nth-last-child(2) .column-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .address-block {
    max-width: 200px;
  }
  .footer_row3 {
    padding-top: 30px;
    border-top: 1px solid #000;
  }
  
  .social-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .footer-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #242425;
    font-size: 14px;
    text-decoration: none;
  }
  
  .delim {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .footer-heading {
    margin-bottom: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #242425;
    font-size: 14px;
    line-height: 135%;
    text-decoration: none;
  }
  
  .whatsapp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .email {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .copyright {
    margin-right: 10px;
    font-size: 12px;
  }
  
  .footer-links-col.double {
    display: flex;
      width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      height: 200px;
  }
  
  .footer-links-heading {
    padding: 1rem 0;
    color: #242425;
    text-decoration: none;
  }
  
  .footer-col-link {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #242425;
    font-size: 14px;
    text-decoration: none;
    min-width:130px;
  }
  
  .paragraph {
    font-size: 12px;
  }
  
  .paragraph-2 {
    font-size: 12px;
  }
  
  .footer-logo {
    padding: 1rem 0;
  }
  
  .address-contact-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .footer-address-heading {
    margin-bottom: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 14px;
  }
  
  .div-block-6 {
    height: 40px;
  }
  
  .div-block-7 {
    position: relative;
    display: -ms-grid;
    display: grid;
    padding-left: 50px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: repeat(12, 1fr);;
    grid-template-columns: repeat(12, 1fr);;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  @media screen and (max-width: 479px) {
    .footer {
        padding-right: 30px;
        padding-left: 30px;
      }
    
      .footer_row1 {
        grid-auto-flow: row;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
      }
    
      .footer_row2 {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    
      .social-links {
        width: 80%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
      }
    
      .footer-heading {
        width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
      }
    
      .whatsapp {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }
    
      .email {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }
    
      .footer-links-col.double {
        width: 100%;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
        align-content: space-between;
      }
    
      .div-block-7 {
        padding-right: 16px;
        padding-left: 16px;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
  }
  
@media screen and (min-width: 768px) { 
  .footer-links-col:nth-last-child(2) .column-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 150px;
    width: 250px;
    padding-right: 3rem;
  }
  .address-block {
    max-width: 200px;
    padding-right:3rem;
  }
}
@media screen and (min-width: 1200px) { 
  .address-block {
    max-width: 200px;
    padding-right:3rem;
  }
}