@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('../fonts/HKGrotesk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HKGrotesk';
  src: url('../fonts/HKGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('../fonts/HKGrotesk-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('/fonts/HKGrotesk-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('/fonts/HKGrotesk-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('/fonts/HKGrotesk-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('/fonts/HKGrotesk-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

:root {
  /* Colors: */
--speed: 0.2s;
--color-grey: #7E7E7E;
--color-white: #FFFFFF;
--color-offwhite: #DBDBDB;
--color-green: #43A536;
--color-red: #E5193A;
--color-lightblue: #1DBCF2;
--color-turquoise: #67C2BD;
--color-orange: #DD604D;
--color-beige: #CA9F81;
--color-yellow: #F2BF4B;
--color-purple: #8467AA;
--color-black: #242425;
--color-blue: #1B4698;
--color-ghost: transparent;
--color-management : #8467AA;
--color-business : #4059a9;
--color-life-sciences : #67C2BD;
--color-commerce : #F2BF4B;
--color-liberal-arts : #CA9F81;
--color-information-technology : #E5193A;
/* Font/text values */
--font-family-primary: Butler;
--font-family-secondary: HKGrotesk;
--font-style-normal: normal;
--font-weight-bold: bold;
--font-weight-normal: normal;
--font-size-12: 12px;
--font-size-14: 14px;
--font-size-18: 18px;
--font-size-26: 26px;
--font-size-30: 30px;
--character-spacing-0: 0px;
--line-spacing-17: 17px;
--line-spacing-21: 21px;
--line-spacing-22: 22px;
--line-spacing-36: 36px;
--line-spacing-42: 42px;
}

html{
  font-size: 14px;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family-secondary), sans-serif;
  background-color: #fff;
  color: #222;
  font-weight: 200;
  height: 100%;
}
#main {
  position: relative;
  width:100%;
}
section {
  margin-bottom: 2rem;
}
#scroll-top-anchor {
  position: fixed;
  width:30px;
  height:30px;
  opacity: 0;
  border-radius:5px;
  bottom: 50px;
  right:50px;
  display:flex;
  justify-content: center;
  align-items: center;
  background:var(--color-black);
  color:var(--color-white);
  transition: all 0.5s ease-in-out;
}
#scroll-top-anchor.active {
  opacity: 1;
  background:var(--color-black);
  color:var(--color-white);
}
@media (min-width: 576px) { 
  html{font-size: 16px;} 
}

@media (min-width: 768px) { 
  html{font-size: 16px;} 
}

@media (min-width: 992px) { 
  html{font-size: 16px;} 
}

@media (min-width: 1200px) { 
  html{font-size: 16px;} 
}

@media (min-width: 1920px) { 
  html{font-size: 18px;} 
}
a {
  color: #9b9b9b;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #000;
}
#__next {
  display: flex;
  /* overflow-x: hidden; */
}

h1 {
  font-family: var(--font-family-primary), serif;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 2.2rem;
  line-height: 135%;
  font-weight: 600;
}

h2 {
  font-family: var(--font-family-primary), serif;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.875rem;
  line-height: 135%;
  font-weight: 600;
}

h3 {
  font-family: var(--font-family-primary), serif;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.625rem;
  line-height: 135%;
  font-weight: 600;
}

h4 {
  font-family: var(--font-family-primary), serif;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 1.375rem;
  line-height: 135%;
  font-weight: 600;
}

h5 {
  margin-bottom: 20px;
  font-size: 1.125rem;
  line-height: 135%;
  font-weight: 600;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 135%;
  font-weight: 600;
}

p {
  font-size: 1rem;
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 160%;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0 0 0 20px;
}

a {
  color: var(--text-color);
  text-decoration: none;;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

li {
  font-weight: 300;
  margin-bottom: 5px;
  line-height: 160%;
}

img {
  display: inline-block;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-family: Domine;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
}

figure {
  margin-bottom: 20px;
}

figcaption {
  margin-top: 8px;
  color: #aaa;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
b, strong {
  font-weight: 700;
}
.blue {
  color: var(--color-blue);
}
.btn {
  min-width:160px;
  font-size: 0.8rem;
  font-family: "HKGrotesk", sans-serif;
  padding: 0.5rem 3rem 0.5rem 1rem;  
}
.btn-ghost {
  color: var(--color-grey);
  background:var(--color-ghost);
  background-image: url(../icons/arrow-right-grey.svg);
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-position: 85% center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-ghost:hover  {
  color: var(--color-black);
  background:var(--color-ghost);
  background-image: url(../icons/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-position: 90% center;
}
.btn-outline {
  border: 1px solid var(--color-black);
  color: var(--color-black);
  background:var(--color-ghost);
  background-image: url(../icons/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-position: 85% center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-outline:hover  {
  border: 1px solid var(--color-black);
  color: var(--color-white);
  background:var(--color-black);
  background-image: url(../icons/arrow-right-white.svg);
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-position: 90% center;
}
.btn-white {
  border: 1px solid var(--color-white);
  color: var(--color-black);
  background:var(--color-white);
  background-image: url(../icons/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-position: 85% center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-white:hover  {
  border: 1px solid var(--color-black);
  color: var(--color-white);
  background:var(--color-black);
  background-image: url(../icons/arrow-right-white.svg);
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-position: 90% center;
}
.btn-black {
  border: 1px solid var(--color-black);
  color: var(--color-white);
  background:var(--color-black);
  background-image: url(../icons/arrow-right-white.svg);
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-position: 85% center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-black:hover  {
  border: 1px solid var(--color-white);
  color: var(--color-black);
  background:var(--color-white);
  background-image: url(../icons/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-position: 90% center;
}
@media (max-width:600px) {
  #__next {
    flex-direction:column;
  }
  .content {
    padding: 0 30px;
  }
  #scroll-top-anchor {
    position: fixed;
    width:40px;
    height:40px;
    border-radius:5px;
    bottom: 80px;
    right: 30px;
    transition: all 0.5s ease-in-out;
  }
}