  .program-accordion {
    width: 100%;
    display: flex;
    list-style-type: none;
    overflow: hidden;
    height: 20rem;
    padding-left: 0;
    font-size: 0;
  }
  .program-accordion-title {
    text-transform:none;
    margin-top:1rem;
  }
.prog-select-row {
  display: flex;
justify-content: center;
align-items: center;
}
.prog-select-row p{
  margin-bottom: 0;
}
.prog-select-row select{
  margin: 0 1rem;
  border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
  border-bottom: 1px solid var(--color-black);
  background: none;
  min-width: 7rem;
}


  .program-tabs {
    display: flex;
    width: 20%;
    height: 20rem;
    overflow: hidden;
    position: relative;
    margin: 0;
    font-size: 16px;
    -moz-transition: all 0.4s ease-in-out 0.1s;
    -o-transition: all 0.4s ease-in-out 0.1s;
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-transition-delay: 0.1s;
    transition: all 0.4s ease-in-out 0.1s;
    background-position: right;
background-repeat: no-repeat;
background-size: contain;
  }
  .program-tabs.active {
    width: 50%;
  }
  .program-tabs.active .social-links a:before {
    margin-left: -100px;
  }
  .program-tabs.active .social-links a:after {
    margin-left: -5px;
  }
  .program-tabs .program-expanded {
    position: relative;
    width: 0%;
    display: none;
    height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
  }
  .program-tabs.active .program-expanded {
    position: relative;
    display: block;
    width: 50%;
    margin-left: 0%;
    height: 100%;
    background: #fff;
  }
  .program-tabs .program-expanded h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  .program-tabs .program-expanded p {
    font-size: 0.88em;
    line-height: 1.5em;
    padding-right: 30px;
  }
  .program-content {
    font-size: 1rem;
    color: var(--color-black);
    text-align: left;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px 20px;
    cursor: pointer;
    border: none;
    flex-direction: column;
    position: relative;
    filter: brightness(1.1) saturate(0.7);
  }
  .prog-bg-logo-wrapper {
    display: flex;
    position: absolute;
width: 100%;
height: 100%;
  }
  .prog-bg-logo {
    position: absolute;
opacity: 30%;
min-width: 100px;
min-height: 100px;
  }
  .prog-bg-logo.bg-logo-1 {
    left: -5%;
    bottom: -10%;
  }
  .prog-bg-logo.bg-logo-2 {
    left: 60%;
    bottom: 40%;
  }
  .program-tabs.active .prog-bg-logo-wrapper {
    display: none;
  }
  .program-tabs.active .program-content{
    filter: brightness(1) saturate(1);
  }
  .program-tabs .program-content img {
    width:40px;
    height:40px;
  }
  .program-tabs .program-content h5 {
    display:block;
  }
  .program-tabs .program-content ul {
    display:none;
  }
  .program-tabs.active .program-content ul {
    display:flex;
    flex-direction: column;
    list-style-type: none;
    padding-left:0;
    width:100%;
  }
  .program-tabs.active .prog-link{
    display: flex;
    width: 100%;
    color: var(--color-black);
background: var(--color-ghost);
background-image: url(/_next/static/media/arrow-right-grey.1da39582.svg);
background-repeat: no-repeat;
background-size: 0.8rem;
background-position: 95% center;
-webkit-transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
-moz-transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .program-tabs.active .prog-link:hover  {
    color: var(--color-black);
    background:var(--color-ghost);
    background-image: url(../icons/arrow-right-black.svg);
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-position: 100% center;
  }

  .home-section-title {
    position: relative;
    text-align: left;
}
  .home-section-title .header-hyphen {
    height: 2px;
    background: var(--color-black);
    width: 30px;
    display: flex;
    position: absolute;
    top: 20px;
    left: -35px;
}
.news-events-wrapper {
  background-color: #f2f2f2;
}
.news-events-section {
  display: grid;
width: 100%;
grid-column-start: 1;
grid-column-end: 13;
grid-template-columns: 2fr 1fr;
gap:2rem;
}

.news-block-wrapper {
  display: grid;
grid-template-columns: 0.5fr 0.5fr;
grid-gap: 1rem;
}
.news-post:nth-of-type(1) {
  grid-template-columns: 0.5fr 0.5fr;
max-height: 300px;
grid-column-start: span 2;
}
.news-post:nth-of-type(1) img {
  width: 100%;
object-fit: cover;
max-height: 100%;
max-width: 100%;
}
.news-block-link,.events-block-link {
  display: inline-flex;
justify-self: end;
width: fit-content;
padding-right: 2rem;
background-position: 90% center;
}
.news-post {
background-color: var(--color-white);
margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}
.news-post img {
  max-width:200px;
}
.events-post {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  border-bottom: 2px solid var(--color-black);
  padding: 10px 0 20px;
}
.events-post img {
  max-width:100px;
}
.news-post-content {
padding: 1rem;
text-align: left !important;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.events-post-content {
padding: 0 20px;
text-align: left !important;

}
.events-post-date-info {
  padding: 0.5rem 1rem;
  background-color: var(--color-offwhite);
  color: var(--color-grey);
  text-align: center;
height: fit-content;
}
.events-post-day {
  font-size: 2rem;
  margin-bottom: 0;
}
.events-post-month {
  font-size: 1rem;
  margin-bottom: 0;
}
.event-post-info {
  text-align: left !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.all-events-link {
  text-align: right !important;
}
.news-post-content h5,.events-post-content h5{
margin-top: 0;
}
.news-post-date {
  color: var(--color-grey);
  font-size: 0.8rem;
}
.rec-acred-section {
  display: grid;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 13;
}
.rec-acred-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4,1fr);
}
.rec-acred-content {
  text-align: left !important;
  padding-bottom: 1rem;
}
.home-faq-section {
  display: grid;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-template-columns: 2fr 1fr;
gap:2rem;
}
.home-faq-image {
margin-top: 5rem;
}

.home-announcement-wrapper {
  background: var(--color-turquoise);
}
.announcement-list {
  display: flex; 
  list-style: none;
  align-items: center;
  gap: 3rem;
}

.announcement-title {
  color: var(--color-white);
  line-height: 1.6;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}
.marquee {
  position: relative;
  width: 80vw;
  max-width: 100%;
  height: 2.5rem;
  overflow-x: hidden;
}

.track {
  position: absolute;
  top: 0.5rem;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
.btn-ghost.btn-ghost-white {
  background-image: url(../icons/arrow-right-white.svg);
}

.text-blocks-wrapper {
  display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.block {
  display: grid;
    grid-template-columns: 2fr 1fr;
}
.block-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.block-text h3 {
  margin: 0.5rem 0;
}
.block-text a {
  padding-left: 0;
  display: inline-flex;
  color: var(--color-black);
}

.block-image img{
  object-fit: cover;
  height: 100%;
}

.block:nth-of-type(3),.block:nth-of-type(4) {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.block:nth-of-type(3) .block-image,.block:nth-of-type(4) .block-image{
  order: 1;
  display: flex;
  }
  .block:nth-of-type(3) .block-text,.block:nth-of-type(4) .block-text{
  order: 2;
  /* display: flex; */
  }

.highlight-section-block {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 0 2rem;
}
.highlight-section-block .logo-link {
  text-align: center;
}
.highlight-section-block .logo-image {
  max-width: 100px;
}
.logo-subtitle {
  font-family: var(--font-family-primary);
}
/* Highlight text animation */
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
.logo-link:nth-of-type(1) .logo-subtitle{
  animation: counterA 2s ease-in-out;
  counter-set: num var(--num);
  counter-reset: none;
}
.logo-link:nth-of-type(2) .logo-subtitle{
  animation: counterB 2s ease-in-out;
  counter-set: num var(--num);
  counter-reset: none;
}
.logo-link:nth-of-type(3) .logo-subtitle{
  animation: counterC 2s ease-in-out;
  counter-set: num var(--numC);
  counter-reset: none;
}
.logo-link:nth-of-type(4) .logo-subtitle{
  animation: counterD 2s ease-in-out;
  counter-set: num var(--numD);
  counter-reset: none;
}
.logo-link:nth-of-type(5) .logo-subtitle{
  animation: counterE 2s ease-in-out;
  counter-set: num var(--numE);
  counter-reset: none;
}

.logo-link:nth-of-type(1) .logo-subtitle::after {
  content: counterA(num);
}
.logo-link:nth-of-type(2) .logo-subtitle::after {
  content: counterB(num);
}
.logo-link:nth-of-type(3) .logo-subtitle::after {
  content: counterC(num);
}
.logo-link:nth-of-type(4) .logo-subtitle::after {
  content: counterD(num);
}
.logo-link:nth-of-type(5) .logo-subtitle::after {
  content: counterE(num);
}

@keyframes counterA {
  to {
    --numA: 12000;
  }
}
@keyframes counterB {
  to {
    --numB: 22;
  }
}
@keyframes counterC {
  to {
    --numC: 150;
  }
}
@keyframes counterD {
  to {
    --numD: 7;
  }
}
@keyframes counterE {
  to {
    --numE: 9;
  }
}

#main-text-section-1 img,#main-text-section-2 img,#main-text-section-3 img,#main-text-section-4 img {
max-width: 300px;
}
.text-section-wrapper:has(#main-text-section-1),.text-section-wrapper:has(#main-text-section-2) ,.text-section-wrapper:has(#main-text-section-3) ,.text-section-wrapper:has(#main-text-section-4) {
padding: 20px 5rem 0px;
background-color: #F2F2F2;
}
#main-text-section-1 p {
  margin: 0;
}
#main-text-section-1 .section-richtext,#main-text-section-2 .section-richtext,#main-text-section-3 .section-richtext,#main-text-section-4 .section-richtext {
  max-width: calc(100% - 300px);
}
@media screen and (max-width:600px) {
  #main-text-section-1 img,#main-text-section-2 img,#main-text-section-3 img,#main-text-section-4 img {
    max-width: 250px;
  }
  #main-text-section-1 .section-richtext,#main-text-section-2 .section-richtext,#main-text-section-3 .section-richtext,#main-text-section-4 .section-richtext {
    max-width: 100%;
  }
  .text-section-wrapper:has(#main-text-section-1),.text-section-wrapper:has(#main-text-section-2) ,.text-section-wrapper:has(#main-text-section-3) ,.text-section-wrapper:has(#main-text-section-4) {
    padding: 20px 1rem 20px;
    }
  .home-faq-section,.rec-acred-wrapper {
    grid-template-columns: 1fr;
  }
  .news-block-wrapper {
    grid-template-columns: 1fr;
    max-width: 90vw;
  }
  .news-post:nth-of-type(1) {
    grid-column-start: span 1;
  }
  .news-post img {
    max-width: 150px;
  }
  .prog-select-row {
    display: flex;
    flex-direction:column;
  justify-content: center;
  align-items: center;
  }
  .prog-select-row select{
    margin-bottom: 1rem;;
  }
  .program-accordion {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    min-width: auto;
    height:100%;
    overflow:auto;
    width:100%;
    /* font-size:100%; */
  }
  .program-tabs {
    width: 100%;
    height:auto;
  }
  .program-content {
    width: 100%;
  }
  .program-tabs .paragraph {
    width: 100%;
  }
  .program-tabs.active {
    width:100%;
  }
  .text-blocks-wrapper {
    grid-template-columns: 1fr;
  }
  .highlight-section-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
  }
  .block{
    grid-template-columns: 2fr 0fr;
  }
  .block:nth-of-type(3),.block:nth-of-type(4) {
    grid-template-columns: 0fr 2fr;
  }
}
@media screen and (max-width:1160px) {
  .news-events-section {
    grid-template-columns: 1fr;
  }
}

