  .program-accordion {
    background: #5ab2ca;
    width: 100%;
    display: flex;
    list-style-type: none;
    overflow: hidden;
    height: 200px;
    font-size: 0;
  }
  
  .program-tabs {
    display: flex;
    background-color: #6dc5dd;
    border-right: #5ab2ca 1px solid;
    width: 20%;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0;
    font-size: 16px;
    -moz-transition: all 0.4s ease-in-out 0.1s;
    -o-transition: all 0.4s ease-in-out 0.1s;
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-transition-delay: 0.1s;
    transition: all 0.4s ease-in-out 0.1s;
  }
  .program-tabs.active {
    width: 70%;
  }
  .program-tabs.active .social-links a:before {
    margin-left: -100px;
  }
  .program-tabs.active .social-links a:after {
    margin-left: -5px;
  }
  .program-tabs .program-expanded {
    position: relative;
    width: 0%;
    display: none;
    height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
  }
  .program-tabs.active .program-expanded {
    position: relative;
    display: block;
    width: 50%;
    margin-left: 0%;
    height: 100%;
    background: #fff;
  }
  .program-tabs .program-expanded h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  .program-tabs .program-expanded p {
    font-size: 0.88em;
    line-height: 1.5em;
    padding-right: 30px;
  }
  .program-content {
    font-size: 16px;
    background-color: #008593;
    color: #fff;
    text-align: left;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8px;
    cursor: pointer;
    border: none;
  }
  .program-tabs .program-content img {
    width:50px;
    height:50px;
  }
  .program-tabs .program-content h5 {
    display:block;
  }
  .program-tabs .program-content ul {
    display:none;
  }
  .program-tabs.active .program-content ul {
    display:flex;
    flex-direction: column;
  }

  .news-post {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .news-post img {
    max-width:200px;
  }
@media (max-width:600px) {
  .program-accordion {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    min-width: auto;
    height:100%;
    overflow:auto;
    width:90%;
    /* font-size:100%; */
  }
  .program-tabs .paragraph {
    width: 100%;
  }
  .program-tabs.active {
    width:100%;
  }
}

