  .news-events-page-section {
    display: grid;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-template-columns: 1fr 1fr;
  gap:2rem;
  }
  
  .news-block-page-wrapper {
    display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 1rem;
  }
  .news-post {
    background-color: var(--color-white);
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    overflow: hidden;
  }
  .news-post img {
    max-width:200px;
  }
  .post-date {
      color: var(--color-grey);
      display: block;
      margin-bottom: 0.5rem;
  }
  .events-post {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    border-bottom: 2px solid var(--color-black);
    padding: 10px 0 20px;
  }
  .events-post img {
    max-width:100px;
  }
  .news-post-content {
  padding: 1rem;
  text-align: left !important;
  height: fit-content;
  }
  .events-post-content {
  padding: 0 20px;
  text-align: left !important;
  }
  .news-post-content h5,.events-post-content h5{
  margin-top: 0;
  }
#past_events,#upcoming_events {
  grid-column-end: span 2;
}

.content.news-events-wrapper {
  padding: 0;
}

.content.news-events-wrapper .w-layout-grid.contain-block {
  gap:0;
}
.content.news-events-wrapper .news-events-section {
  gap: 0;
  margin-bottom:0;
}
.content.news-events-wrapper .news-events-section .news-block {
  padding: 20px 2rem 50px 5rem;
}
.content.news-events-wrapper .news-events-section .events-block {
  background: #CBE9E6;
  padding: 20px 5rem 50px 4rem;
}
.content.news-events-wrapper .news-events-section .events-block .events-post-date-info {
  background-color: var(--color-blue);
  color: #FFF;
  min-width: 40px;
}
.content.news-events-wrapper .news-events-section .events-block .btn-ghost {
  color: var(--color-black);
}
@media screen and (max-width: 1160px) {
  .content.news-events-wrapper .news-events-section .news-block {
    padding: 20px 3rem 50px 3rem;
    background: #f2f2f2;
  }
}