/* General Sections */

#content-wrapper {
  grid-column-start: 1;
  grid-column-end: 12;
}
.in-page-links {
  position: -webkit-sticky;
  position: sticky;
  opacity: 0;
  top: 200px;
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 12;
  grid-column-end: 12;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  max-height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}
.in-page-links.active {
  opacity:1;
}
.in-page-links a{
  color: #7E7E7E;
    text-decoration: none;
    font-size: 14px;
    line-height: 180%;
    text-align: right;
    margin: 5px 0;
}

h2.section-title {
    color: var(--color-blue);
    position: relative;
}
.section-title .header-hyphen {
    height: 2px;
    background: var(--color-blue);
    width: 30px;
    display: flex;
    position: absolute;
    top: 20px;
    left: -35px;
}

.section-title{
    margin-top:0rem;
}
.program-logo {
  width:100%;
  max-width: 3rem;
}
.program-section-title {
margin-top: 0.5rem;
}
.program-title {
  padding:1rem 2rem 0;
  margin-bottom: 0;
  position: relative;
}
.program-title .header-hyphen {
  height: 2px;
  width: 25px;
  display: flex;
  position: absolute;
  top: 35px;
  left: 0px;
}
#management .program-section-title,#management .program-title {
  color:var(--color-management)
}
#business .program-section-title,#business .program-title {
  color:var(--color-business)
}
#life-sciences .program-section-title,#life-sciences .program-title {
  color:var(--color-life-sciences)
}
#commerce .program-section-title,#commerce .program-title {
  color:var(--color-commerce)
}
#liberal-arts .program-section-title,#liberal-arts .program-title {
  color:var(--color-liberal-arts)
}
#information-technology .program-section-title,#information-technology .program-title {
  color:var(--color-information-technology)
}
#management .program-title .header-hyphen  {
  background:var(--color-management)
}
#life-sciences .program-title .header-hyphen  {
  background:var(--color-life-sciences)
}
#commerce .program-title .header-hyphen {
  background:var(--color-commerce)
}
#liberal-arts .program-title .header-hyphen  {
  background:var(--color-liberal-arts)
}
#information-technology .program-title .header-hyphen  {
  background:var(--color-information-technology)
}

.program-overview-content {
  padding: 1rem 2rem 2rem;
}
.heading {
    font-size: 23px;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }
    /* accordion section */
  .accordion {
    list-style: none;
  }
  .accordion-list {
      list-style: none;
      padding: 0;
  }
  .accordion-item {
    border-bottom: 1px solid var(--color-black);
  }
  
  .control {
    font-size: 20px;
  }
  
  .answer {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .accordion-title {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .accordion-title h6 {
    margin-bottom: 0;
    padding: 10px 0;
  }
  .accordion-content {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: all ease 0s;
  }
  .accordion-item.active .accordion-content {
    display: block;
    max-height: 100%;
    height: 100%;
  }
.section-richtext a {
  text-decoration: underline;
font-weight: 500;
}
  /* logo section */
  .logo-section-block {
    display: grid;
    gap: 20px;
  }
  .embed-section-block.large {
    width:100%;
  }
  .gallery-section-wrapper .image-section-block >div:first-child{
    display: grid;
    gap: 1rem;
  }
  .page-body .logo-link:hover {
    text-decoration: none;
  }
  .logo-image.small {
    min-width: 50px;
  }
  .logo-image.medium {
    min-width: 125px;
  }
  .logo-image.large {
    max-width: 250px;
  }
  .logo-title {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .logo-subtitle {
    color: var(--color-grey);
    text-align: center;
    font-size: 1.75rem;
  }
  .grid-4 .logo-link {
    min-width: 120px;
  }
  .grid-4 .logo-title {
    text-align: center;
  }

  /* Collection Section */
  .collection-section-wrapper {
    grid-column-start: 2;
    grid-column-end: 12;
  }
  .bio-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-offwhite);
    margin-bottom: 2rem;
    max-width: 750px;
    min-height: 300px;
  }
  .bio-image {
    width: fit-content;
    filter: grayscale(1);
    transition: all 0.4s ease-in-out;
  }
  .bio-card:hover .bio-image {
    filter: grayscale(0);
  }
  .bio-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .bio-content {
    padding: 1rem;
    width: fit-content;
  }
  .bio-name {
    color: var(--color-blue);
    margin: 0;
  }
  .bio-qualifications {
    font-size: 0.8rem;
    margin: 10px 0 5px;
    color: var(--color-grey);
  }
  .bio-title {
    font-size: 0.9rem;
    margin: 5px 0;
    font-weight: bold;
  }
  .bio-desc p{
    font-size: 0.9rem;
  }

/* Text Section */
.section-content.above-content {
  display: flex;
  flex-direction: column;
}
.section-content.content-left {
  display: flex;
  flex-direction: row;
}
.section-content.content-right {
  display: flex;
  flex-direction: row-reverse;
}
.section-content.below-content {
display: flex;
flex-direction: column-reverse;
}
.section-image {
  margin: 0 1rem 1rem 0;
  max-width: 300px;
}

@media (max-width:575px) {
    .section-title .header-hyphen {
        display: none;
    }
    .logo-image {
      width: 100%;
    }
    .in-page-links {
      display: none;
    }
    .embed-section-block.large {
      width:100%;
    }
    .gallery-section-wrapper .image-section-block.grid-2 > div:first-child, .grid-2 {
      grid-template-columns: 1fr 1fr;
    }
    .grid-3 {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
    .grid-4 {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      row-gap: 1rem;
    }
    .section-content.content-left {
      flex-direction: column;
    }
    .section-content.content-right {
      flex-direction: column-reverse;
    }
    .section-image {
      margin: 0 1rem 1rem 0;
      max-width: 100%;
    }
}


@media (min-width: 576px) { 
  #content-wrapper {
    grid-column-start: 2;
    grid-column-end: 12;
  }
  .in-page-links {
    display: none;
  }
  .gallery-section-wrapper .image-section-block.grid-2 > div:first-child, .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-3 {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .grid-4 {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    row-gap: 1rem;
  }
}

@media (min-width: 768px) { 
  #content-wrapper.has-anchors {
    grid-column-start: 2;
    grid-column-end: 10;
  }
  #content-wrapper.full {
    grid-column-start: 2;
    grid-column-end: 12;
  }
  .in-page-links {
    display: flex;
    grid-column-start: 10;
    grid-column-end: 13;
  }
  .embed-section-block.large {
    width:125%;
  }
  .gallery-section-wrapper .image-section-block.grid-2 > div:first-child, .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-3 {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    row-gap: 1rem;
  }
  .bio-card {
    display: flex;
    flex-direction: row;
  }
  .leadership-team:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .bio-image {
    width: 40%;
  }
  .bio-content {
    width: 60%;
  }
}

@media (min-width: 992px) { 
  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
    row-gap: 1rem;
  }
}

@media (min-width: 1200px) { 
  #content-wrapper.has-anchors {
    grid-column-start: 2;
    grid-column-end: 9;
  }
  .in-page-links {
    display: flex;
    grid-column-start: 10;
    grid-column-end: 13;
  }
  .embed-section-block.large {
    width:150%;
  }
  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

@media (min-width: 1920px) { 
}