h2.section-title {
    color: var(--color-blue);
    position: relative;
}
.section-title .header-hyphen {
    height: 2px;
    background: var(--color-blue);
    width: 30px;
    display: flex;
    position: absolute;
    top: 20px;
    left: -35px;
}
.text-section-block {
    margin-top:4rem;
}

@media screen and (max-width:600px) {
    .section-title .header-hyphen {
        display: none;
    }
}