/* General Sections */

#content-wrapper {
  grid-column-start: 1;
  grid-column-end: 12;
}
.side-float {
  position: sticky;
  -ms-grid-column: 10;
  grid-column-start: 10;
  -ms-grid-column-span: 12;
  grid-column-end: 12;
  top: 200px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}
.in-page-links {
  position: sticky;
  opacity: 0;
  top: 20vh;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 300px;
  transition: all 0.5s ease-in-out;
}
.in-page-links.active,.tag-links.active {
  opacity:1;
}

.in-page-links a,.tag-links a{
  color: #7E7E7E;
    text-decoration: none;
    font-size: 14px;
    line-height: 180%;
    text-align: right;
    margin: 5px 0;
}
.tag-links {
  padding-left: 1rem;
  position: sticky;
  opacity: 0;
  top: 20vh;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 300px;
  transition: all 0.5s ease-in-out;
  }
  .tag-links a{
    text-align: left;
  }
  .search-input.sticky {
    position: sticky;
    top: 12vh;
  }
.search-input {
  width: 100%;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
box-sizing: border-box;
font-size: 18px;
padding: 0.5rem 2rem 0.5rem 1rem;
margin-bottom: 1rem;
background: none;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-image: none;
  background-size: auto;
outline: none;
border-bottom: 1px solid #707070;
background-image: url(/_next/static/media/search.649397b0.svg);
background-repeat: no-repeat;
background-size: 20px;
background-position: 95% center;
}


.prog-details {
  background: var(--color-offwhite);
  padding: 2rem;
  position: sticky;
  opacity: 0;
  top: 50vh;
  margin-top: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  transition: all 0.5s ease-in-out;
}
.prog-details h4 {
  margin: 0 0 0.75rem;
}
.prog-details p {
  margin-bottom: 0.125rem;
}
.prog-details p:last-of-type {
  margin-bottom: 1rem;
}
.prog-details a {
  margin: 0.5rem 0;
}
.prog-details.active {
  opacity:1;
}
.banner-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 0 0.5rem;
  text-transform: uppercase;
}
h2.section-title {
    color: var(--color-blue);
    position: relative;
}
.section-title .header-hyphen {
    height: 2px;
    background: var(--color-blue);
    width: 30px;
    display: flex;
    position: absolute;
    top: 20px;
    left: -35px;
}

.section-title{
    margin-top:0rem;
}
.program-logo {
  width:100%;
  max-width: 3rem;
}
.program-section-title {
margin-top: 0.5rem;
}
.program-title {
  padding:1rem 2rem 0;
  margin-bottom: 0;
  position: relative;
}
.program-title .header-hyphen {
  height: 2px;
  width: 25px;
  display: flex;
  position: absolute;
  top: 35px;
  left: 0px;
}
#management .program-section-title,#management .program-title {
  color:var(--color-management)
}
#business .program-section-title,#business .program-title {
  color:var(--color-business)
}
#life-sciences .program-section-title,#life-sciences .program-title {
  color:var(--color-life-sciences)
}
#commerce .program-section-title,#commerce .program-title {
  color:var(--color-commerce)
}
#liberal-arts .program-section-title,#liberal-arts .program-title {
  color:var(--color-liberal-arts)
}
#information-technology .program-section-title,#information-technology .program-title {
  color:var(--color-information-technology)
}
#management .program-title .header-hyphen  {
  background:var(--color-management)
}
#life-sciences .program-title .header-hyphen  {
  background:var(--color-life-sciences)
}
#commerce .program-title .header-hyphen {
  background:var(--color-commerce)
}
#liberal-arts .program-title .header-hyphen  {
  background:var(--color-liberal-arts)
}
#information-technology .program-title .header-hyphen  {
  background:var(--color-information-technology)
}

.program-overview-content {
  padding: 1rem 2rem 2rem;
}
.heading {
    font-size: 23px;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }
    /* accordion section */
  .accordion {
    list-style: none;
  }
  .accordion-list {
      list-style: none;
      padding: 0;
  }
  .accordion-item {
    border-bottom: 1px solid var(--color-black);
  }
  
  .control {
    font-size: 20px;
  }
  
  .answer {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .accordion-title {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .accordion-title h6 {
    margin-bottom: 0;
    padding: 10px 0;
  }
  .accordion-content {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: all ease 0s;
  }
  .accordion-item.active .accordion-content {
    display: block;
    max-height: 100%;
    height: 100%;
  }
.section-richtext a {
  text-decoration: underline;
font-weight: 500;
}
  /* logo section */
  .logo-section-block {
    display: grid;
    gap: 20px;
  }
  .embed-section-block.large {
    width:100%;
  }
  .gallery-section-wrapper .image-section-block >div:first-child{
    display: grid;
    gap: 1rem;
  }
  .page-body .logo-link:hover {
    text-decoration: none;
  }
  .logo-image.small {
    min-width: 50px;
  }
  .logo-image.medium {
    min-width: 125px;
  }
  .logo-image.large {
    max-width: 250px;
  }
  .logo-title {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .logo-subtitle {
    color: var(--color-grey);
    text-align: center;
    font-size: 1.75rem;
  }
  .grid-4 .logo-link {
    min-width: 120px;
  }
  .grid-4 .logo-title {
    text-align: center;
  }

  /* Collection Section */
  .collection-section-wrapper {
    grid-column-start: 2;
    grid-column-end: 12;
  }
  .advisory-council-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .bio-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-offwhite);
    margin-bottom: 2rem;
    max-width: 750px;
    min-height: 300px;
  }
  .bio-card.advisory-council {
    max-width: 600px;
    min-height: 200px;
  }
  .bio-image {
    width: fit-content;
    filter: grayscale(1);
    transition: all 0.4s ease-in-out;
  }
  .bio-card:hover .bio-image {
    filter: grayscale(0);
  }
  .bio-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .bio-content {
    padding: 1rem;
    width: fit-content;
  }
  .bio-name {
    color: var(--color-blue);
    margin: 0;
  }
  .bio-qualifications {
    font-size: 0.8rem;
    margin: 10px 0 5px;
    color: var(--color-grey);
  }
  .bio-title {
    font-size: 0.9rem;
    margin: 5px 0;
    font-weight: bold;
  }
  .bio-desc p{
    font-size: 0.9rem;
  }
.advisory-council-wrapper .search-input{
  grid-column-end: 3;
  grid-column-start: 1;
}
.leadership-team-wrapper .search-input{
  display:none;
}
/* Text Section */
.section-content.above-content {
  display: flex;
  flex-direction: column;
}
.section-content.content-left {
  display: flex;
  flex-direction: row;
}
.section-content.content-right {
  display: flex;
  flex-direction: row-reverse;
}
.section-content.below-content {
display: flex;
flex-direction: column-reverse;
}
.section-image {
  margin: 0 1rem 1rem 0;
  max-width: 300px;
}
.testimonial-post {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
}
.testimonial-student {
  margin:0 0 0.5rem;
}
.testimonial-batch {
  color: var(--color-grey);
  font-size: 0.8rem;
  text-transform: uppercase;
}
.doc-block {
  border-bottom: 1px solid var(--color-offwhite);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.doc-block-title {
  color: var(--color-blue);
}
.doc-btn {
  display: flex;
  padding: 0.5rem 0rem 0.5rem 1rem;
  color: var(--color-grey);
  background:var(--color-ghost);
  background-image: url(../icons/arrow-right-grey.svg);
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-position: 85% center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.doc-btn p {
  margin:0
}
table.c23 {
  margin: 1rem 0;
  border: 1px solid #eee;
}
tr:nth-of-type(even) {
  background: #f1f1f1;
}
td {
  padding: 0.5rem;
}
.c9.table-head {
  background: #222;
  color: white;
}
.c9.table-head td{
  padding:0.5rem;
  text-align: center;
}
@media screen and (max-width:575px) {
    .section-title .header-hyphen {
        display: none;
    }
    .logo-image {
      width: 100%;
    }
    .logo-image.small {
      max-width: 50%;
    }
    .side-float {
      grid-column-start: 1;
      grid-column-end: 10;  
    }
    .in-page-links {
      display: none;
    }
    .prog-details {
      display: flex;
    }
    .embed-section-block.large {
      width:100%;
    }
    .gallery-section-wrapper .image-section-block.grid-2 > div:first-child, .grid-2 {
      grid-template-columns: 1fr 1fr;
    }
    .grid-3 {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    .grid-4 {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      row-gap: 1rem;
    }
    .section-content.content-left {
      flex-direction: column;
    }
    .section-content.content-right {
      flex-direction: column-reverse;
    }
    .section-image {
      margin: 0 1rem 1rem 0;
      max-width: 100%;
    }
}


@media screen and (min-width: 576px) { 
  #content-wrapper {
    grid-column-start: 2;
    grid-column-end: 12;
  }
  .side-float {
    grid-column-start: 1;
    grid-column-end: 10;
  }
  .in-page-links {
    display: none;
  }
  .gallery-section-wrapper .image-section-block.grid-2 > div:first-child, .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-3 {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .grid-4 {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    row-gap: 1rem;
  }
}

@media screen and (min-width: 768px) { 
  #content-wrapper.has-anchors {
    grid-column-start: 2;
    grid-column-end: 8;
  }
  #content-wrapper.full {
    grid-column-start: 2;
    grid-column-end: 12;
  }
  .in-page-links {
    display: flex;
    grid-column-start: 10;
    grid-column-end: 13;
  }
  .embed-section-block.large {
    width:125%;
  }
  .gallery-section-wrapper .image-section-block.grid-2 > div:first-child, .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-3 {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    row-gap: 1rem;
  }
  .bio-card {
    display: flex;
    flex-direction: row;
  }
  .leadership-team:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .bio-image {
    width: 40%;
  }
  .bio-content {
    width: 60%;
  }
  .content {
    padding: 20px 0rem 50px;
  }
  .prog-details {
    margin-left: 0rem;
  }
}

@media screen and (min-width: 992px) { 
  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
    row-gap: 1rem;
  }
  #content-wrapper {
    grid-column-start: 2;
    grid-column-end: 7;
  }
  .side-float {
    grid-column-start: 8;
    grid-column-end: 11;
  }
  .content {
    padding: 20px 3rem 50px;
  }
}

@media screen and (min-width: 1200px) { 
  #content-wrapper.has-anchors {
    grid-column-start: 2;
    grid-column-end: 9;
  }
  .in-page-links {
    display: flex;
    grid-column-start: 10;
    grid-column-end: 13;
  }
  .embed-section-block.large {
    width:150%;
  }
  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .side-float {
    grid-column-start: 10;
    grid-column-end: 12;
  }
  .content {
    padding: 20px 5rem 50px;
  }
  .prog-details {
    margin-left: -3rem;
  }
}

@media screen and (min-width: 1920px) { 
}

