.container {
    position: relative;
  }
  
  .search {
    border:none;
    box-sizing: border-box;
    font-size: 18px;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    margin:1rem 0.5rem;
    margin-bottom: 10px;
    width: 90%;
    background:none;
    outline:none;
    color:var(--color-white);
    border-bottom: 1px solid #707070;
    background-image: url(../icons/search.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 95% center;
  }
  
  .results {
    list-style: none;
    overflow: hidden;
    margin: 9px 0 0;
    padding: 0;
    position: fixed;
    top: 15%;
    left: 0;
    right: auto;
    width: 50%;
    z-index: 3;
    height: 50vh;
    background: var(--color-black);
    padding: 0;
  }
  
  .result {
    color: var(--color-white);
    margin: 0 0 9px;
    padding: 18px;
  }
  
  .result a {
    color: var(--color-white);
  }